body {
    margin: 0;
    padding: 0; 
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.box{
    width: 320px;
    height: 400px;
    background-color: rgb(159, 167, 11);
    background-color: rgba(152, 151, 151, 0.3);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
}


.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: calc(10% - 10px);
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    top: 50%;
    left: 50%;
}

.box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.box input {
    width: 100%;
    margin-bottom: 20px;
}

.box input[type="text"] , input[type="password"], input[type="tel"]{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(64, 63, 63);
    font-size: 16px;
}

::placeholder {
    color: rgb(247, 242, 242);
}

.box input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    height: 40px;
    background: rgb(0, 0, 0);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.box input[type="submit"]:hover {
    background-color: rgb(93, 93, 93);
}

